/* Adapted from: https://abbie.github.io/discord-css/import.css */

/* Hide server tags */
[role="button"]:is([class*="clanTag__"], [class*="clanTagChiplet_"]),
[class*="container__"] > [class*="tags__"] > span:has(> [class*="chipletContainerInline_"]),
span:has(> span[class*="clanTagChiplet_"]) {
    display: none;
}

/* Hide custom nameplates */
div[class*="childContainer__"][class*="nameplated__"] {
    padding-right: inherit;
    & > div[class*="container__"][style] {
        display: none;
    }
}

li[class*="channel__"] > div[class*="interactive__"] > div[class*="container__"]:is([class*="fadeIn__"], :has(> div[class*="videoContainer__"])) {
    display: none;
}

[class*="closeButtonPlated__"] {
    opacity: 0.7;
    [class*="innerCloseButtonPlated"] {
        background-color: transparent;
    }
}

/* Hide profile effects */
[class*="profileEffects__"] {
    display: none;
}

/* Hide avatar decorations */
[class*="avatarDecoration_"] {
    display: none;
}

/* Make gradient roles look boring */
[class*="ColorGradient_"] {
    background: none;
    color: color-mix(in oklab, var(--custom-gradient-color-1), var(--custom-gradient-color-2));
    -webkit-text-fill-color: initial;
}

/* Hide server boost goal */
div:has(> div[class*="textArea"] > div[class*="goalTextContainer"]),
div#channels > ul > div[class*="containerWithMargin_"] {
    display: none;
}

/* Hide app launcher */
[class*="channelAppLauncher"] {
    display: none !important;
}

/* Hide gift button */
div[class*="textArea_"] + div[class*="buttons_"] > div:has(> div svg path[d^=" M-7,10 C-8.1049995"]) {
    display: none;
}